*{
    text-align: center;
    margin: auto;
    width: 90%;
    
    
}
body{
   
    position: relative;
    min-height: 100vh;
}

h1{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(#fff,#eee);
    font-size: 3.5em;
    
}
h2{
    font-size: 2.4em;
    margin-top: 2em;
    margin-bottom: 1em;
}
footer{
    position: absolute;
  bottom: 0;
    
  width: 100%;
  height: 2.5rem;     
    padding-top: 50px;
   
}
#content-wrap{
    padding-bottom: 2.5rem;
}

button{
    width: 300px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    background-color: green;
    color: whitesmoke;
    margin-bottom: 50px;
}
li{
    text-align:left;
    margin: 20px;
}
img{
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
}
.slika-potvrdi{
    height: auto;
}
p{
    margin: 20px;
}