*{
    text-align: center;
    margin: auto;
    width: 60%;
    
    padding: 10px;
}
body{
   
    position: relative;
    min-height: 100vh;
}
h1{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
    width: 50%;
    background-image: linear-gradient(#fff,#eee);
}
footer{
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;     
    margin-top: 3rem;
}
#content-wrap{
    padding-bottom: 2.5rem;
}